@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Gilroy', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* .container {
  max-width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
} */

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER  */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .header .container {
  display: flex;
} */

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-item {
}
.header-nav-link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
}

.header-nav-link::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 30px;
  width: 8px;
  height: 8px;
  transform: translateX(-50%) scale(0);
  border-radius: 50%;
  background-color: #3350e9;
  opacity: 0;
  transition: opaciti 250ms ease-in, transform 250ms ease-in;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/*---------------------- 2 способи роботи з кольором іконки в посиланні  ---------------------*/

/* .header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
  border-radius: 10px;
}

.header-social-link:hover > .header-social-icon,
.header-social-link:focus > .header-social-icon {
  fill: #3350e9;
} */

.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #0c0c0c;
  transition: border-color 250ms ease-in, color 250ms ease-in;
}

.header-social-link:hover,
.header-social-link:focus {
  border-color: 1px solid rgba(51, 80, 233, 0.1);
  border-radius: 10px;
  color: #3350e9;
}

.header-social-icon {
  fill: currentColor;
}

.header-social-item {
  width: 36px;
  height: 36px;
}

/*---------------------- 2 способи роботи з кольором іконки в посиланні  ---------------------*/

/* .header-social-icon {
  fill: #0c0c0c;
} */

/* .current {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

} */

/* .current::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;

} */

.header-social-list {
  display: flex;
  gap: 10px;
}

/* ==================start section welcom================= */

.main-title {
  width: 596px;
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.accent {
  color: #3350e9;
}

.post-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.header-social-item {
}
/* #region contact-us */
.contact-us {
}

.container {
}

.container {
}
.story-wrapper {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-color: #0c0c0c;
  background-image: url(../images/bgrimg.png);
  width: 1150px;
  min-height: 298px;
  padding: 83px 80px;
}
.story-text {
  max-width: 702px;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.story-text-part {
  color: rgba(251, 251, 251, 0.5);
}
.story-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
}

.contact-us-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-us-htwo {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.contact-us-wrapper {
  border-radius: 50px;
  width: 580px;
  min-height: 556px;
  background-color: #f3f3f3;
  padding: 50px 60px;
}

.modal-parag {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}

.modal-form {
}

.modal-form-label {
  display: block;
  margin-bottom: 18px;
}

.modal-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  width: 100%;
  height: 52px;
  background-color: transparent;
  outline: transparent;
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.modal-form-textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 90px;
  background-color: transparent;
  outline: transparent;
  resize: none;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.modal-form-comment {
  display: block;
  margin-bottom: 32px;
}

.contact-send {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  min-width: 160px;
  height: 52px;
  background-color: #3350e9;
  border: none;
}

/* #endregion contact-us */
