.hidden {
  display: none;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Gilroy', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  color: #0c0c0c;
}
a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* .container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
} */

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  max-width: 375px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* HEADER  */

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding-top: 27.5px;
  padding-bottom: 27.5px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-link {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
}

.header-nav-link::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: 30px;
  width: 8px;
  height: 8px;
  transform: translateX(-50%) scale(0);
  border-radius: 50%;
  background-color: #3350e9;
  opacity: 0;
  transition: opaciti 250ms ease-in, transform 250ms ease-in;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
/*-------------------------------------------------------------------- links */
.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #0c0c0c;
  transition: border-color 250ms ease-in, color 250ms ease-in;
}

.header-social-link:hover,
.header-social-link:focus {
  border-color: 1px solid rgba(51, 80, 233, 0.1);
  border-radius: 10px;
  color: #3350e9;
}

.header-social-icon {
  fill: currentColor;
}

.header-social-item {
  width: 36px;
  height: 36px;
}

/* ==================mobile===================  */
/* [hover] */
.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: #fbfbfb;
  transition: border-color 250ms ease-in, color 250ms ease-in;
}

.menu-social-link:hover,
.menu-social-link:focus {
  border-color: 1px solid rgba(51, 80, 233, 0.1);
  border-radius: 10px;
  color: #fbfbfb;
  opacity: 0.8;
}
.menu-social-icon {
  fill: currentColor;
}

.menu-social-item {
  width: 34px;
  height: 34px;
}
/* [hover] */
.mobile-menu-nav-link {
  position: relative;
  display: block;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
}

.mobile-menu-nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  transition: opaciti 250ms ease-in, transform 250ms ease-in;
}

.mobile-menu-nav-link:hover::after,
.mobile-menu-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
/* ---------start general mobile---------- */
.header-nav,
.header-social-list {
  display: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(5px);
  width: 34px;
  height: 34px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke-width: 2.5px;
  fill: #0c0c0c;
}

/* ----------------start-mobile-menu------------------------ */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 200px;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background: linear-gradient(rgba(12, 12, 12, 0.9), rgba(12, 12, 12, 0.9)),
    url('../images/menu-bcgimg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.9),
        rgba(12, 12, 12, 0.9)
      ),
      url('../images/menu-bcgimg@2x.jpg');
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
}

.mobile-menu-nav {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
}

.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
}
.container-link {
  margin-bottom: 40px;
}

/* .menu-social-icon {
  width: 18px;
  height: 18px;
  fill: #fbfbfb;
} */

.icon-close {
  stroke-width: 2.5px;
  stroke: #fbfbfb;
}
/* ----------------end-mobile-menu------------------------ */

/* .header-social-list {
  display: none;
  gap: 10px;
} */

/* на пк повернути флекс та зняти нон */
/* .header-social-list {
  display: flex;
  gap: 10px; */

/* ---------end general mobile---------- */

/* .header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
} */

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

/* ============================tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* mobile-menu */
  .mobile-menu {
    max-width: 330px;
  }
  .menu-social-icon {
    width: 20px;
    height: 20px;
  }
  .container-link {
    margin-bottom: 50px;
  }

  .menu-social-item {
    width: 36px;
    height: 36px;
  }

  .icon-close {
    width: 20px;
    height: 20px;
  }
  /* mobile-menu */

  .header-logo {
    padding: 34px 0;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
}

/* ===========================pc */

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    gap: 10px;
  }
  .header-logo {
    padding-top: 32px 0;
  }

  .header-social-list {
    display: flex;
    gap: 10px;
  }
}

/* ==================start section welcom================= */

/* ------------------mobile------------------ */


.hero {
  padding-top: 60px;
}
.main-title {
  max-width: 335px;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;   
}

.accent {
  color: #3350e9;
}

.post-title {
  max-width: 335px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

/* .home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.main-left {
  margin-bottom: 28px;
}

/* на пк повернути фл дір колум  */
.main-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.team-logo {
      min-width: 108px;
}

.main-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.main-image {
  margin-top: 28px;
  border-radius: 30px;
   min-width: 335px;
    min-height: 366px;
}

/* ============================tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

    .home-main-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
}

.main-title {
  max-width: 557px;
    font-size: 70px;
    line-height: 0.86;
}

.post-title {
  max-width: 480px;
  font-size: 16px;
  line-height: 1.25;
}

.main-right {
  flex-direction: column;
}

.main-link {
font-size: 20px;
  line-height: 1;
}

.main-image {
  margin-top: 40px;
  border-radius: 30px;
  min-width: 335px;
  min-height: 366px;
  display: block;
  margin: 0 auto;
}

team-logo {
  max-width: 136px;
}

}
/*---------------------------------- pc */

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
      padding-top: 80px;
    }

  .main-title {
    max-width: 597px;
     font-weight: 600;
    font-size: 72px;
    line-height: 0.87;
  }  

    .team-logo {
      max-width: 146px;
    }

        .main-image {
          max-width: 1150px;
        }


    
}

/* ==================end section welcom================= */

/* ==================start section about================= */

.content-container {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 40px 15px;
  margin-bottom: 20px;
  max-width: 335px;
}

.section-title {
  margin-bottom: 28px;

  font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
 
}

.text {
  font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

.first-description {
  margin-bottom: 20px;
}

.description-container {
  margin-bottom: 40px;
}

.btn-link {
  display: inline-block;
  width: 160px;
    height: 48px;
    border-radius: 16px;
    padding: 15px 35px;

    font-weight: 500;
      font-size: 14px;
      line-height: 1.28;
      text-align: center;
      color: #fbfbfb;
      cursor: pointer;

      background-color: #3350e9;
}

.btn-link:hover,
.btn-link:focus {
  background-color: #1f3cd4;;
}

.media-container{
  max-width: 335px;
}
.about-watch {
  border-radius: 30px;
}

/* =========================================================tablet */

    @media (min-width: 768px) {

  .section-about {
    padding: 80px 0;
  }
  .content-container {
    max-width: 704px;
    margin-bottom: 40px;
    padding: 80px 60px;
    border-radius: 50px;
  }

  .section-title {
    margin-bottom: 40px;
    font-size: 48px;
      line-height: 0.9;
  }

  .text{
  font-size: 16px;
    line-height: 1.25
  } 

  .description-container {
    margin-bottom: 60px;
  }

  .media-container {
    max-width: 704px;
  }

  .about-watch {
    border-radius: 50px;
  }
}

/* =========================================================pc */

@media (min-width: 1280px) {

  .container-about {
    display: flex;
    justify-content: space-between;
  }

  .section-about {
    padding: 100px 0;
  }
  .content-container {
    max-width: 580px;
    margin: 0;
  }

  .media-container {
    max-width: 530px;
  }

  .about-watch {
    display: block;
    width: 100%;
    height: 100%;
  }

  .container-about {
    margin: 0 auto;
  }
}

/* ==================end section about================= */


/* ----------------------- start section-catalog------------------------------- */

.catalog-container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 335px;
}

.catalog-title {
  margin-bottom: 24px;
  margin-left: auto;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.catalog-post-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.catalog-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.item-container {
  max-width: 335px;
  padding: 24px 28px;
  /* margin: 0 auto; */
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #f3f3f3;
  list-style: none;
}

/* 4-й елемент без марджина за замовчуванням */
.item-container:nth-child(4) {
  margin-bottom: 0;
}

/* клас для margin після натискання кнопки */
.item-container.mb {
  margin-bottom: 20px;
}

.catalog__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 48px;
  border-radius: 16px;
  margin-top: 40px;
}

.catalog__btn:hover,
.catalog__btn:focus {
  background-color: #1f3cd4;
}

/* мобільні правила */
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .item-container.show {
    display: block;
  }
}

/* =================================================tablet============================== */

@media (min-width: 768px) {

  .catalog-title {
      font-size: 48px;
      line-height: 0.9;
      margin-bottom: 40px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 32px;
  }

  .catalog-container {
    /* display: flex; */
    padding: 0 32px;
      margin: 0 auto;
      max-width: 704px;
  }

  .catalog-item {
    width: calc((100% - 32px) / 2);
  }

  .item-container {
    max-width: 344px;
    margin-bottom: 0;
    padding: 24px 32px;
  }
  .catalog-post-title {
    font-size: 20px;
      line-height: 1;
  }

  .catalog__btn {
    display: none;
  }
}

/* ==================pc========================= */

@media (min-width: 1280px) {

.catalog-container { 
  max-width: 1150px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  row-gap: 32px;
}
  .item-container {
    max-width: 368px;
  }
    .catalog-item {
      width: calc((100% - 46px) / 3);
    }
}
/* -----------------------end section-catalog------------------------------- */

/* -----------------------start section-advertisement------------------------------- */

.story-wrapper {
  background:
    linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
    image-set(url("../images/advertisement/ph-abstr.jpg") 1x,
      url("../images/advertisement/ph-abstr@2x.jpg") 2x);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 28px;
    border-radius: 30px;
    max-width: 335px;
}
  


/* @media (min-resolution: 192dpi) {
  .story-wrapper {
    background: linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
      url(../images/advertisement/ph-abstr@2x.jpg);
      background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
  }
} */

.story-text {
font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 279px;
  margin-bottom: 28px;

}

.story-accent {
  color: rgba(251, 251, 251, 0.5);
}

.story_btn {
  display: flex;
  align-items: center;
  justify-content: center;
font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.15);
  width: 160px;
  height: 48px;
  border-radius: 16px;
  margin-top: 28px;
}

/* =================================================tablet============================== */

@media (min-width: 768px) {
  .story-wrapper {
    background:
        linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
        image-set(url("../images/advertisement/tab-abstr.jpg") 1x,
          url("../images/advertisement/tab-abstr@2x.jpg") 2x);
        background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          max-width: 704px;
    padding: 80px 64px;
   
  }
    .story-text {
      max-width: 576px;
        font-size: 48px;
        line-height: 0.9;
    }

        .story_btn {
          margin-top: 32px;
        }
    
    
}

/* ==============================pc================================ */

@media (min-width: 1280px) {
.story-wrapper {
  background:
      linear-gradient(rgba(12, 12, 12, 0.8), rgba(12, 12, 12, 0.8)),
      image-set(url("../images/advertisement/pc-abstr.png") 1x,
        url("../images/advertisement/pc-abstr@2x.png") 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1150px;
    padding: 83px 80px;
    margin: 0 auto;
    display: flex;
      justify-content: space-between;
  }

    .story-text {
      max-width: 690px;
      margin-bottom: 0;
    }

    .story_btn {
      margin-top: 0;
    }
}

/* -----------------------end section-advertisement------------------------------- */

.sale-title {
  font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.sale-list {
  display: flex;
  max-width: 335px;
      justify-content: space-between;
      margin-bottom: 20px;
      
  
}

.sale-item {
  padding: 13px 14px;
  max-width: 80px;
/* width: calc((100% - 15px) / 4); */
border-radius: 16px;
  background-color: #f3f3f3;
}

.main-watch { 
  padding: 50px 50px;
  border-radius: 30px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.description-container {
  padding: 48px 28px;
  background-color: #3350e9;
  border-radius: 30px;
}

.sale-descrription {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.description-name {
  font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 20px;
}

.price-box{
  display: flex;
  margin-bottom: 28px;
  align-items: center;
  gap: 9px;
}

.description-price {
  display: flex;
  padding: 8px 12px;
  width: 68px;
  justify-content: center;
  background: rgba(251, 251, 251, 0.1);
  border-radius: 8px;
  font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}
.accent-price {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
.main-description {
  font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 28px;
}

.description-list {
  display: flex;
}

.description-item {
  padding: 8px 12px;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
}

.sale-link {
  
}


/* -----------------------start section-sale------------------------------- */



/* -----------------------end section-sale------------------------------- */
/* #region contact-us
.contact-us {
}

.container {
}

.container {
}
.story-wrapper {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-color: #0c0c0c;
  background-image: url(../images/bgrimg.png);
  width: 1150px;
  min-height: 298px;
  padding: 83px 80px;
}
.story-text {
  max-width: 702px;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.story-text-part {
  color: rgba(251, 251, 251, 0.5);
}
.story-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
}

.contact-us-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-us-htwo {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.contact-us-wrapper {
  border-radius: 50px;
  width: 580px;
  min-height: 556px;
  background-color: #f3f3f3;
  padding: 50px 60px;
}

.modal-parag {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 32px;
}

.modal-form {
}

.modal-form-label {
  display: block;
  margin-bottom: 18px;
}

.modal-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 16px;
  width: 100%;
  height: 52px;
  background-color: transparent;
  outline: transparent;
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.modal-form-textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 90px;
  background-color: transparent;
  outline: transparent;
  resize: none;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
}

.modal-form-comment {
  display: block;
  margin-bottom: 32px;
}

.contact-send {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  min-width: 160px;
  height: 52px;
  background-color: #3350e9;
  border: none;
} */

/* #endregion contact-us */
/*---------------------- 2 способи роботи з кольором іконки в посиланні  ---------------------*/

/* .header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.header-social-link:hover,
.header-social-link:focus {
  border: 1px solid rgba(51, 80, 233, 0.1);
  border-radius: 10px;
}

.header-social-link:hover > .header-social-icon,
.header-social-link:focus > .header-social-icon {
  fill: #3350e9;
} */

menu-social-icon {
}
/*---------------------- 2 способи роботи з кольором іконки в посиланні  ---------------------*/

/* .header-social-icon {
  fill: #0c0c0c;
} */

/* .current {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

} */

/* .current::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;

} */
